

.card {
    width: fit-content;
    cursor: pointer;
    margin: 0.6rem 3rem;
}

.card img {
    width: 12rem;
    height: 8rem;
}

.card p {
    margin: 0px;
}

.card button {
    border: none;
    background-color: transparent;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.grilla {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}


/* -------- INDEX ----------- */

.ms-carrousel {
    width: 98vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    background-image: url(../assets/img/bg1.png);
    margin: 0px;
    /* border: 2px solid green; */
}

.ms-description {
    width: 40%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ms-description p {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #555A64;
    font-family: Arial, Helvetica, sans-serif
}

.ms-border {
    width: 60%;
    /* border: 2px solid blue; */
    border-top-left-radius: 80%;
    border-bottom-left-radius: 40%;
    overflow: hidden;
}

.ms-border img {
    width: 30rem;
    height: 33rem;
}

#carouselExampleSlidesOnly {
    width: 100%;
}

/* PASOS */

.ms-cf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ms-cf h3{
    /* font-size: 1.5rem; */
    font-weight: bolder;
    color: #c33821;;
    margin-top: 4rem;
}

.ms-desc {
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem;
    color: #555A64;
}

.ms-pasos-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    /* border: 2px solid red; */
}

.ms-pasos-img {
    width: 45%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-pasos-img img{
    width: 17rem;
    height: 17rem;
}

.ms-pasos {
    width: 55%;
    /* border: 2px solid green; */
}

.ms-pasos-ind {
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}

.ms-pasos-description {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.ms-pasos-description .ms-title{
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #555A64;
    
}
.ms-pasos-description .ms-p{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 2px;
    color: #555A64;
    
}

.ms-p-color {
    display: inline-block;
    color: #c33821 ;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px;
}

/* .ms-pasos-num {
    border: 2px solid green;
} */

.ms-pasos-num p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0.5rem;
    padding: 0.6rem 1.3rem;
    border-radius: 50%;
    color: white;
    background-color: #fda651 ;
}

/* PASOS */

/* AYUDA */

.ms-ayuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* position: relative; */
}

.ms-ayuda h3 {
    font-weight: bolder;
    color: #fef8ea;
}

.ms-ayuda-desc {
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem;
    color: #fef8ea;
}

.ms-ayuda-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.ms-ayuda-ind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 20rem;
    min-width: 20rem;
    margin: 1rem 2rem;
    border-radius: 10px;
    background-color: #fef8ea;
    padding: 1.5rem;
    transition: all 0.3s;
    /* border: 2px solid red */
}

.ms-ayuda-ind:hover {
    transform: scale(1.03);
}

.ms-ayuda-ind p {
    text-align: center;
}

.ms-ayuda-ind button {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #c33821;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 30px;
    padding: 0.5rem 3rem;
    transition: all 0.3s;
}
.ms-ayuda-ind button:hover {
    /* font-weight: 800; */
    background-color: #c33921;
    transform: scale(1.1);
}

/* AYUDA */

/* FAQ */

.faq-flex {
    /* border: 2px solid blue; */
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* position: relative; */
    /* border: 2px solid red; */
}

.faq-flex h3 {
    color: #c33821;
    font-weight: bolder;
    margin: 4rem 1rem;
}

.accordion {
    width: 50%;
}

.accordion-button {
    font-size: 1.3rem;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    font-weight: 500;
}

.accordion-button:hover {
    color: #c33821;
}
.accordion-button:focus {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #c33821;
    font-weight: 600;
    background-color: transparent;
    border: 0px;
}

.accordion-button::after {
    color: green;
}

/* FAQ */

/* FOOTER */

footer {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
}

footer img {
    width: 40rem;
    margin: 0px 0px -43px;
    /* border: 2px solid red; */
    z-index: 2;
}

footer div {
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: #c33821;
    /* border: 2px solid blue; */
}
/* FOOTER */

/* PRUEBA */
.prueba {
    width: 100%;
    height: fit-content;
    padding: 2rem;
    /* background-image: url(../assets/img/bg1.png); */
    /* background-image: linear-gradient(to bottom, #c33821, #c33821), url(../assets/img/bg1.png); */
    /* background: linear-gradient(to right, hsla(248, 95%, 50%, 0.5), hsla(317, 45%, 52%, 0.7)); */
    /* background: linear-gradient( hsla(248, 95%, 50%, 0.5)); */
    /* background-color: hsla(16, 80%, 42%, 0.6); */
    /* clip-path: polygon(35% 13%, 66% 14%, 100% 0, 100% 84%, 66% 94%, 33% 93%, 0 85%, 0 0); */
    /* clip-path: polygon(86% 20%, 65% 27%, 44% 28%, 24% 25%, 0% 15%, 0% 51%, 0% 74%, 21% 84%, 38% 89%, 62% 90%, 84% 84%, 100% 76%, 100% 46%, 100% 13%);} */
    /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */

}

.prueba img {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* PRUEBA */


/* CURVAS CLIP-PATH */

.ms-curved {
    background-color: hsla(16, 80%, 42%, 0.6);
    /* color: #ffffff; */
    text-align: center;
    background-image: url(../assets/img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.ms-curved svg{
    display: block;
}



/* CURVAS CLIP-PATH */

/* -------- INDEX ----------- */


/* ------- DETALLES DE CADA ANIMAL --------- */

.ms-detalles-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 3.3rem 1rem 0px 0px;
}

.ms-det {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    width: 95%;
    /* border: 2px solid green; */
}

.ms-det-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    /* border: 2px solid red; */
}

.ms-det-imgs img {
    border-radius: 25px;
    /* border: 2px solid black; */
    width: 16rem;
}

.ms-det-miniaturas {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.ms-det-miniaturas img {
    width: 22%;
    border-radius: 15px;
}

.ms-detalles {
    /* border: 2px solid black; */
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /* border: 2px solid blue; */
}

.ms-det-cuadro {
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ms-det-headers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #fda651;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /* border-bottom: 2px solid blue; */
}

.ms-det-headers a{
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    /* border: 2px solid red; */
    cursor: pointer;
    margin-top: 0.3rem;
    width: fit-content;
}

.ms-det-headers a:hover{
    color: #ffffff83;
}
.ms-det-headers a:focus{
    font-weight: bolder;
}

.ms-det-descripcion {
    width: 95%;
    height: 21rem;
    text-align: center;
    margin-top: 0.5rem;
    overflow-y: scroll;
}

/* SCROLL BAR */
.ms-det-descripcion::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.ms-det-descripcion::-webkit-scrollbar-thumb {
    background: #fda651;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ms-det-descripcion::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.ms-det-descripcion::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* SCROLL BAR */


/* BONE */

  .btn {
    outline: none;
  }

  .bone2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    /* border: 2px solid red; */
  }

  .bone2 img {
    position: absolute;
    width: 14rem;
    height: 7rem;
    transition: all 2s;
  }

  .bone2 p {
    position: relative;
    font-size: 0.8rem;
    font-weight: bolder;
    margin-top: 2rem;
  }

  .bone2:hover img {
    animation: shaker 1.5s;
    animation-iteration-count: infinite;
  }


/* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */

@keyframes shaker {
    30% { transform:  rotate(5deg); }
    60% { transform:  rotate(-5deg); }
    90% { transform:  rotate(3deg); }
    100% { transform:  rotate(-3deg); }
  }

/* BONE */

/* MODAL */

.modal-body .btn {
    background-color: #fda651;
    border: 2px solid #fda651;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
}
.modal-body .btn:hover {
    background-color: #fd9351;
    border: 2px solid #fd9351;
}

/* MODAL */



/* ------- DETALLES DE CADA ANIMAL --------- */

/* ---------- DETALLES DE CADA PRODUCTO ---------- */

.ms-prod-det {
    display: flex;
    margin: 0.5rem 2rem;
}

.ms-prod-det-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ms-prod-det-imgs img {
    width: 13rem;
    cursor: pointer;
}

.ms-prod-det-miniaturas {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ms-prod-det-miniaturas img {
    width: 15%;
}

.ms-prod-det-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.ms-prod-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ms-prod-desc p {
    text-align: center;
}

.ms-prod-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.ms-comprar-cant {
    display: flex;
}

.ms-prod-cant input {
    width: 3rem;
}

.ms-prod-desc button {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fda651;
    border: 2px solid #fda651;
    border-radius: 20px;
    transition: all 0.2s;
    margin-left: 2rem;
}

.ms-prod-desc button:hover {
    transform: scale(1.1);
}


/* ---------- DETALLES DE CADA PRODUCTO ---------- */







